<!DOCTYPE html>
<html>
    <head>
        <title><%= title %></title>
        <link rel='stylesheet' href='/stylesheets/style.css'/>
    </head>
    <body>
        <h1><%= title %></h1>
        <p><%= msg %></p>
        <form action="/helo" method="post">
            <input type="text" name="input1" value="<%= input %>">
            <input type="submit">
        </form>
        <p><a href="/helo?p1=hello&p2=bye">link</a></p>
    </body>
</html>
